extends layout

block content
  h1 CREATE NEW GAME OF DESCRIPTO
  h2 Welcome to #{title}
  h3 select players for team 1
  form(method="POST" action="/game/createNew")
    select(name='team1' multiple)
      for player in players
        option(value=player._id selected=false) #{player.data.name}
    h3 select players for team 2
    select(name='team2' multiple)
      for player in players
        option(value=player._id selected=false) #{player.data.name}
    select(name="numWords")
      for num in [4,5]
        option(value=num selected=false) #{num}
    button(type="submit") CREATE
