extends layout

block content
  h1= title
  h2 Viewing #{otherteam.data.name}

  p correct guesses on other teams :) #{otherteam.data.guessPoints}
  p failpoints :( #{otherteam.data.failPoints}
  p other teams guessed correctly :( #{otherteam.data.otherGuessesPoints}

  a(href="/play/" + player._id + "/" + game._id) Go back to #{team.data.name}

  h2 WORDS
  h3 ? ? ? ?

  h2 HINTS

  if otherteam.data.hints.length != 3
    p Waiting for hints
  else
    ul
      each hint in otherteam.data.hints
        li: p #{hint}
    if !team.data.guesses[otherteam._id.toString()] || team.data.guesses[otherteam._id.toString()].length == 0
      p Submit your guess below (Format: XXX, for example 321)
        form(method='POST' action='/guess/' + game._id + '/guessingTeam/' + team._id + '/otherTeam/' + otherteam._id)
          div.form-group
            label(for='guess') GUESS:
              input#name.form-control(type='text', placeholder='000' name='guess' maxlength=3)
          button(type='submit') SUBMIT GUESS
    else
      p Submitted guess: #{team.data.guesses[otherteam._id.toString()]}

  h2 LOG
  each turnLog, turnIndex in teamTurnsLog
    h3 turn #{turnIndex + 1}
    p hints: #{turnLog.hints}
    p our guess: #{turnLog.guess}
    p their guess: #{turnLog.theirGuess}
    p correct: #{turnLog.correct}