extends layout

block content
  h1= title
  h2 Viewing #{team.data.name}

  p correct guesses on other teams :) #{team.data.guessPoints}
  p failpoints :( #{team.data.failPoints}
  p other teams guessed correctly :( #{team.data.otherGuessesPoints}
 
  h2 Other teams
  each otherTeam in otherTeams
    a(href="/play/" + player._id + "/" + game._id + "/" + otherTeam._id) View #{otherTeam.data.name}
 
  h2 WORDS
  h3 #{team.data.words.join(" ")}

  h2 HINTS
  if team.data.hints
    ul
      each hint in team.data.hints
        li: p #{hint}


  if player._id == team.data.cryptographer
    p You're the decrypter. The code is:
    h2 #{team.data.code.join(".")}
    if team.data.hints.length != 3
      h2 Submit your hints below:
      form(method='POST' action='/hint/' + game._id + '/team/' + team._id)
        div.form-group
          label(for='hint1') Hint 1:
            input#name.form-control(type='text', placeholder='hint' name='hint1' maxlength=25)
        div.form-group
          label(for='hint2') Hint 2:
            input#name.form-control(type='text', placeholder='hint' name='hint2' maxlength=25)
        div.form-group
          label(for='hint3') Hint 3:
            input#name.form-control(type='text', placeholder='hint' name='hint3' maxlength=25)
        button(type='submit') SUBMIT HINTS
    else

  else
    p You're a regular player
    if team.data.hints.length != 3
      p Waiting for hints
    else
      if !team.data.guesses[team._id.toString()] || team.data.guesses[team._id.toString()].length == 0
        p Submit your guess below (Format: XXX, for example 321)
          form(method='POST' action='/guess/' + game._id + '/guessingTeam/' + team._id + '/otherTeam/' + team._id)
            div.form-group
              label(for='guess') GUESS:
                input#name.form-control(type="text" pattern="[1-#{game.data.numWords}]*" placeholder='000' name='guess' maxlength=3)
            button(type='submit') SUBMIT GUESS
      else
        p Submitted guess: #{team.data.guesses[team._id.toString()]}

