extends layout

block content
  h1= title
  h2 Welcome to #{title} #{player.data.name}!

  h2 Please select a game to continue.
  ul
    each gameDisplayData in gameDisplayDatas
      li: a(href="/play/" + player._id.toString() + "/" + gameDisplayData.gameId) Continue game on turn #{gameDisplayData.turn} with teams: #{gameDisplayData.teamNames.join(" vs. ")}
